# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = meucci.settings

[deploy:n3]
url = https://n3.idatica.com/
project = meucci

[deploy:n4]
url = https://n4.idatica.com/
project = meucci
